$color1: rgba(250, 169, 22, 1);
$color2: rgba(0, 159, 253, 1);
$color3: rgba(42, 42, 114, 1);
$color4: rgba(35, 37, 40, 1);
$color5: rgba(234, 246, 255, 1);

$navbar-height: 56px;

.navbar-brand {
    font-family: Lobster, cursive;
}

body {
    font-family: 'Roboto', sans-serif;
}

.splash {
    z-index: 3;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $color2;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        color: white;
        width: 25%;
        margin: 10px auto;
        a {
            color: white;
            text-decoration: underline;
            &:hover {
                color: $color1;
            }
        }
    }

    &-title {
        color: white;
        text-align: center;
        font-size: 4rem;
        font-family: Lobster, cursive;
    }
}

.enterButton {
    color: white;
    font-size: 4rem;
    &:hover {
        margin-bottom: 2px;
    }
}

@keyframes hideSplash {
    from {
        height: 100vh;
    }
    to {
        height: 0;
    }
}

.splashHidden {
    height: 0;
    * {
        display: none;
    }
    transition: height, 1s ease-in-out;
}

.navbar {
    background-color: $color4;
    &-brand {
        color: white;
    }
}

.editor {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: calc(100vh - #{$navbar-height});
}

.src-code-container {
    flex-basis: 50%;
    flex-grow: 1;
    height: calc(100% - #{$navbar-height});
    padding: 10px;
}

.src-code {
    height: calc(100vh - #{$navbar-height} - 4rem);
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

#src-code-label {
    margin-right: 5px;
}

.output {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 10px;
    border-left: 1px black solid;
}

.hidden {
    display: none;
}

.switcher-btn {
    background-color: $color2;
    position: relative;
    right: 0;
    &.off {
        background-color: $color4;
    }
}

.styling-btn {
    background-color: $color2;
    margin-top: -5px;
    margin-bottom: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-menu {
    min-width: 4rem;
}
